<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <commands>
            <command name="cloudflare:purgecache" type="NerdImmunity2021.Feature.Cloudflare.Commands.PurgeCacheCommand, NerdImmunity2021.Feature.Cloudflare" />
        </commands>
    </sitecore>
</configuration>